@import "tailwindcss";
:root {
    --bg: #111722;
    --bg-dark: #060A14;
    --highlight: #1F2B40;
    --text: #F5F8FF;
    --text-muted: #3A4864; 
    --line-num: #CFAB63;
    --dfont: "jetbrains", monospace;

    /* bar colors*/
    --bar: #293754;
    --mode: #92B2F2; /* default bar texts */
    --secondary-info: #667799;
    --cursor-pos: #D9D9D9;
}

@font-face {
    font-family: "jetbrains";
    src: url('/JetBrainsMonoNerdFont-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--dfont);
    line-height: 24px;
    pointer-events: none;
    user-select: none;
}

button{
    pointer-events: auto;
    cursor: pointer;
}

html, body, #root {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    padding: 1rem;
    background: var(--bg-dark);
}

main.start{
    overflow-y: hidden;
}

main {
    width: 100%;
    height: calc(100% - 48px);
    position: relative;
    overflow-y: auto;
}

main::-webkit-scrollbar{
    display: none;
}

/* Wrapper layout */
.wrapper, .welcome {
    position: relative;
    color: var(--text);
    padding-left: 3rem;
    z-index: 10;

    font-size: 1.4rem;
}

/* Welcome layout grid */
.welcome {
    display: grid;
    grid-template-areas:
        "head head"
        "comm desc";
    grid-template-columns: 1fr 1fr;

    width: 100%;
}

.welcome > div span > span{
    color: var(--text-muted) ;
}

.welcome > div.head {
    text-align: center;
    grid-area: head;
}

.welcome > div.command {
    grid-area: comm;
}

.welcome > div.desc {
    grid-area: desc;
    padding-left: 30%;
}

.command > span {
    display: block;
}

/* ASCII banner */
.banner {
    display: grid;
    grid-template-areas:
        "name"
        "title"
        "intro";
    grid-template-rows: 72px 24px 1fr;
}

.banner > div.my-title{
    grid-area: title;
    text-align: center;
}

.banner > div.self-intro{
    pointer-events: auto;
    grid-area: intro;
    padding-right: 1rem;

}

.trunc-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: calc(24px * 3);
}

pre.my-name{
    grid-area: name;
    font-family: var(--dfont);
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
}

nav{
    position: sticky;
    z-index: 12;
    top: 0;

    width: 100%;
    display: flex;
    height: 24px;
    mix-blend-mode: none;
    background: var(--bg);
}

nav > button{
    flex: 1;
    color: var(--text);

    background: var(--bg);
    border: none;

    font-size: 1.4rem;
}

nav > button.selected{
    background: var(--text);
    color: var(--bg);
}

.content{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.page-content{
    overflow-x: hidden;
    width: 100%;
}

.filler{
    width: 100%;
    font-family: monospace;
    letter-spacing: 0.1rem;
}


@media (min-width: 600px){
    .page-content{
        width: 80%;
    }
}

@media (min-width: 900px){
    .page-content{
        width: 50%;
    }
    .banner{
        width: 90%;
        display: grid;
        grid-template-areas:
            "name intro"
            "title intro";
    }
    .self-intro{
        padding-inline: 2rem;
    }
}

@media (min-width: 1280px){
    .banner{
        width: 65%;
    }
}

.page-content h1{
    font-size: 1.4rem;
    font-weight: 600;
}



/* Line background system */
.lines {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.line {
    display: flex;
    width: 100%;
    height: 24px;
    background-color: var(--bg);

    pointer-events: auto; 
}

.line > p {
    width: 3rem;
    font-size: 1.4rem;
    color: var(--line-num);
}

.highlight {
    display: none;
    background-color: var(--highlight);
    flex: 1;
}

.highlight.active {
    display: block;
}

.cursor {
    background-color: var(--text);
    height: 24px;
    width: .8rem;
    animation: blinker 0.8s steps(1, start) infinite;

    position: absolute;
}

p, h1, li{
    mix-blend-mode: difference;
}

@keyframes blinker {
    0%, 49.9% { opacity: 1; }
    50%, 100% { opacity: 0; }
}

ul{
    list-style-type: none;
}

ul > li::before{
    content: "- ";
}

.status-line{
    font-size: 1.4rem;
    line-height: 24px;

    height: 24px;
    width: auto;
    background: var(--bar);

    position: fixed;
    left: 1rem;
    right: 1rem;
    bottom: calc(1rem + 24px);
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.status-line .left,
.status-line .right{
    display: flex;
}

.status-line .left > span,
.status-line .right > span{
    height: 100%;
    display: flex;
}

.status-line .left span:nth-child(1){
    background: var(--mode);
}

.status-line .left span:nth-child(2){
    background: var(--secondary-info);
}

.status-line .left span:nth-child(3){
    color: var(--mode);
}

.status-line .right span:nth-child(1){
    background-color: var(--secondary-info);
}

.status-line .right span:nth-child(2){
    background-color: var(--mode);
}

.command-listen{
    position: fixed;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;

    width: auto;
    background: var(--bg);
    height: 24px;
    z-index: 999;
}

svg path{
    stroke: var(--text);
}

a{
    color: var(--text);
    pointer-events: auto;
    height: 24px;
}
