:root {
    --bg: #111722;
    --bg-dark: #060A14;
    --highlight: #1F2B40;
    --text: #F5F8FF;
    --text-muted: #3A4864; 
    --line-num: #CFAB63;
    --dfont: "jetbrains", monospace;
}

@font-face {
    font-family: "jetbrains";
    src: url('/JetBrainsMonoNerdFont-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--dfont);
    font-size: 2.4rem;
    pointer-events: none;
}

button{
    pointer-events: auto;
    cursor: pointer;
}

html, body, #root {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    padding: 1rem;
    background: var(--bg-dark);
}

main {
    min-height: 100%;
    width: 100%;
    position: relative;
}

/* Wrapper layout */
.wrapper {
    position: relative;
    color: var(--text);
    padding-left: 3rem;
    z-index: 10;
}

/* Welcome layout grid */
.wrapper.welcome {
    display: grid;
    grid-template-areas:
        "head head"
        "comm desc";
    grid-template-columns: 1fr 1fr;
    width: 80%;
    column-gap: 4rem;

    top: 264px;
    left: calc(1.5rem + 50%);
    transform: translateX(-50%);
}

.wrapper.welcome > div,
.wrapper.welcome > div span,
.wrapper.welcome > div p {
    line-height: 24px;
}

.wrapper.welcome > div span > span{
    color: var(--text-muted) ;
}

.wrapper.welcome > div.head {
    text-align: center;
    grid-area: head;
}

.wrapper.welcome > div.command {
    grid-area: comm;
}

.wrapper.welcome > div.desc {
    grid-area: desc;
    padding-left: 30%;
}

.command > span {
    display: block;
}

/* ASCII banner */
.wrapper{
}

.banner {
    white-space: pre;

    display: grid;
    grid-template-areas:
        "name intro"
        "title intro";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr;
    column-gap: 5px
}

.my-title, .self-intro{
    font-size: 1.6rem;
    line-height: 24px;
}

.banner > div.my-title{
    grid-area: title;
    text-align: center;
}

.banner > div.self-intro{
    grid-area: intro;
    white-space: wrap;
}

pre {
    grid-area: name;
    font-family: var(--dfont);
    font-size: 1.4rem;
    line-height: 1.2;
}

nav{
    width: 100%;
    display: flex;
    height: 2.4rem;
}

nav > button{
    flex: 1;
    font-size: 1.4rem;
    color: var(--text);

    background: var(--bg);
    user-select: none;
    border: none;
}

nav > button.selected{
    background: var(--text);
    color: var(--bg);
}

.content{
    display: flex;
    justify-content: center;
}

.page-content > pre{
    position: relative;
    line-height: 24px;
}

.page-content section,
.page-content h1,
.page-content h2,
.page-content h3,
.page-content strong,
.page-content em,
.page-content p,
.page-content a,
.page-content code,
.page-content ul,
.page-content li{
    font-size: 1.4rem;
    line-height: 24px;
}

/* Line background system */
.lines {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
}

.line {
    display: flex;
    width: 100%;
    height: 24px;
    background-color: var(--bg);

    pointer-events: auto; 
}

.line > p {
    width: 3rem;
    font-size: 2rem;
    user-select: none;
    color: var(--line-num);
}

.highlight {
    display: none;
    background-color: var(--highlight);
    flex: 1;
}

.highlight.active {
    display: block;
}

.highlight > .cursor {
    background-color: var(--text);
    height: 100%;
    width: 1.3rem;
    animation: blinker 0.8s steps(1, start) infinite;
}

@keyframes blinker {
    0%, 49.9% { opacity: 1; }
    50%, 100% { opacity: 0; }
}

ul{
    list-style-type: none;
}

ul > li::before{
    content: "- ";
}
